/* Global styles
------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
    color: #cc5500;
}
a:hover {
    text-decoration: none;
}

img:hover{
    transform: scale(1.05);
}

h1, h2 {
  font-family: "Intro Rust", "Caveat", cursive;
  font-weight: 400;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.66em;
  margin-top: 0;
}

h3 {
  margin: 0;
}

.content {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
}

.column-wide {
  width: 62%;
  float: left;
}

.title {
  text-align: center;
  max-height: 30em;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  background: EF233C;
  color: white;
  padding: 10px;
  display: inline-block;
}


/* Header & Footer
------------------------------------*/
header,
footer {
  background: #2B2D42;
  color: #8D99AE;
}

header {
  padding-top: 50px;
  position: relative;
}

header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Header styles only */
header {
  text-align: center;
}
.profile-img {
  width: 35em;
  border-radius: 50%;
}

.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

/* Navigation styles
------------------------------------*/

nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}


/* Education
------------------------------------*/
.education {
    background: linear-gradient(rgba(141, 153, 174, 0.7), rgba(141, 153, 174, 0.5)),
                url(https://wallpaper-house.com/data/out/5/wallpaper2you_43203.jpg) no-repeat fixed;
    background-size: cover;
}

h3 ~ p{
  margin-top: 1em;
}

/* Research And Projects
------------------------------------*/
.research {
    background: #EDF2F4;
}

h3 ~ p {
  margin: 0;
}

.job-description {
  margin-bottom: 4em;
}

.job-description p:first-of-type {
  margin-top: 0;

}

.Projects {
    background: #6AC59C;
}


